PORT=3000
AWS_REGION=us-east-1
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
GITHUB_TOKEN=your_github_token
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_INDEX_NAME=code-assistant-1024
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
PINECONE_METRIC=cosine
